label {
    /* color: pink; */
    /* margin-bottom: 1em; */
    /* border: 1px solid red;
    background: white;
    color:black;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc; */
    /* padding-right: 2em; */
}

input {
    /* min-width: 10em; */
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-top: 0.15em;
    padding-left: 1em;
    font-size: 1em;
    height: 3em;
    min-width: 40em;
    border-radius: 0.3em;
    border: 2px solid #ccc;
}
textarea {
    min-width: 40em;
    border-radius: 0.3em;
    border: 2px solid rgba(0,0,0, 0.1);
    font-size: 1em;
    font-family: "Monserrat", Arial, Helvetica, sans-serif;

    min-height: 10em;

    padding: 0.5em 1em;

}

.TextInput {
    margin-top: 1em;

}